@charset "UTF-8";
/* Font e iconos de Bootstrap y Body */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
  font-family: "Source Sans 3";
  src: url(../assets/fonts/SourceSans3-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: content-box;
  font-family: "Source Sans 3", sans-serif;
}

body {
  background-color: #feecb5;
}

li {
  list-style-type: none;
}

/* Nav Header */
.navbar {
  background-color: #feecb5;
}
.navbar-brand {
  color: #0F6B42;
  font-size: 24px;
  transition: 0.4s;
}
.navbar-brand i {
  padding-right: 7px;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: #052e1b;
}
.navbar-brand img {
  width: 120px;
  height: auto;
  transition: 0.4s;
}
.navbar-brand img:hover {
  transform: rotate(10deg);
}

/* Portada Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
  color: #052e1b;
  height: 400px;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  line-height: 1.2;
}
.hero .hero-content {
  background-color: rgba(245, 194, 150, 0.8784313725);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 20px 20px 20px 100px;
  border: 2px solid #F78E33;
  border-left: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.hero .hero-content p {
  font-size: 24px;
  /*text-shadow: 1px 1px 2px #000;*/
  /*font-weight: bold;*/
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #052e1b;
}

/* Footer */
footer {
  background-color: #643317;
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
  width: 100%;
  bottom: 0;
  margin-top: 30px;
}

/* Destacados */
.destacados {
  padding: 20px 100px;
}
.destacados-card {
  display: flex;
  flex-direction: column;
}
.destacados-card .card {
  /*width: 100%;*/
  border: 1px solid #643317;
  overflow: hidden;
}
.destacados-card .card-header {
  background-color: #643317;
  color: #fff;
}
.destacados-card .card-header span {
  margin-left: 10px;
}
.destacados-card .card-body {
  max-height: 300px;
}
.destacados-card .card .col-md-8 {
  height: 100%;
  display: flex;
}
.destacados .img-fluid {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #643317;
  padding: 20px 0;
}

/* Página de Películas */
.hero-peliculas {
  background-image: url("../assets/peliculas.jpg");
}

.contenedor {
  display: flex;
  gap: 15px;
}

.trailer {
  background-color: #643317;
  color: #feecb5;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #643317;
}

.info p,
.info h3 {
  padding: 0 20px 20px;
}

/* Página de Libros */
.hero-libros {
  background-image: url("../assets/libros.jpg");
}

.catalogo {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.catalogo article {
  background-color: #052e1b;
  color: #ccc;
}

.foto-catalogo img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding: 10px;
}

/* Página de Música */
.hero-musica {
  background-image: url("../assets/musica.jpg");
}

.contenedor-musica {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.playlists {
  background-color: #052e1b;
  color: #feecb5;
  border-radius: 15px;
}

/* Contacto */
.formulario-contacto {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-contacto h2 {
  text-align: center;
}

.formulario-contacto label {
  display: block;
  margin-bottom: 8px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario-contacto button {
  background-color: #0F6B42;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.formulario-contacto button:hover {
  background-color: #093d26;
}

/* Mediaqueries */
@media (max-width: 768px) {
  .navbar span {
    display: none;
  }
  .hero {
    align-items: center;
  }
  .hero-content {
    width: 85%;
    align-items: center;
    text-align: center;
    border-left: 2px solid #F78E33;
  }
  .destacados .card-body,
  .destacados .img-fluid {
    width: 100%;
    max-height: none;
    height: auto;
  }
  .contenedor {
    flex-direction: column;
  }
  .peliculas {
    padding: 0;
  }
  .trailer {
    border-radius: 0;
  }
}
@media (min-width: 992px) {
  .destacados-card {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .card {
    width: 50%;
  }
  .contenedor-musica {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
